@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: 255 255 255;
    --brand-dark: 0 8 20;
    --brand-primary: 184 184 255;
    --brand-primary-alt: 251 133 0;
    --brand-secondary: 33 158 188;
    --brand-teriary: 142 202 230;
    --brand-danger: 193 18 31;
    --brand-success: 6 214 160;
    --brand-warning: 255 213 0;
  }
}
